@import './normalize.css';
@import '../icons/style.css';

// TIP 共用样式
.text-more {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

* {
  touch-action: none;
}

li {
  list-style: none;
}

// tip 项目通用样式常量
@color-tint: #fe647f;
@navbar-height: 50px;
@color-text: #515151;
@color-bg: #f2f2f2;
